::-webkit-scrollbar {
  width: 0;
}

.layout {
  height: 100%;
}

.layout > body {
  background: #222;
  display: flex;
  font-family: Segoe UI;
  height: 100%;
  margin: 0;
}

.layout > body > :last-child {
  background: #111;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.layout > body > :last-child > :last-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  height: 100%;
  overflow-y: auto;
}
