.header {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.header a {
  border-radius: 1rem;
  color: #fff;
  display: flex;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.5rem;
  text-decoration: 0;
}

.header a:hover {
  background: #ffffff10;
}

.header svg {
  height: 1.5rem;
  width: 1.5rem;
}

.header span {
  margin: 0 0.5rem;
}
