.sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sidebar > a {
  border-radius: 1rem;
  display: flex;
  margin: 1rem 1.5rem;
  padding: 0.5rem;
}

.sidebar a:hover {
  background: #ffffff10;
}

.sidebar > a > svg {
  fill: #fff;
  height: 1.5rem;
  width: 1.5rem;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar > div > a {
  align-items: center;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.5rem;
  text-decoration: 0;
}

.sidebar > div > a > svg {
  border-radius: 1rem;
  height: 1.5rem;
  padding: 0.5rem;
  width: 1.5rem;
}

.sidebar > div > a > span {
  max-width: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
