::-webkit-scrollbar {
  width: 0px;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.bg-purple-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}

.flex-grow {
  flex-grow: 1;
}

.rounded-l-2xl {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.flex-col {
  flex-direction: column;
}

.p-2 {
  padding: 0.5rem;
}

.items-center {
  align-items: center;
}

.overflow-y-auto {
  overflow-y: auto;
}

.m-0 {
  margin: 0px;
}

.fill-current {
  fill: currentColor;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.hover\:bg-purple-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(167, 139, 250, var(--tw-bg-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
