.fill-current {
  fill: currentColor;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-purple-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}

.rounded-l-2xl {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.flex-grow {
  flex-grow: 1;
}

.h-full {
  height: 100%;
}

.p-2 {
  padding: 0.5rem;
}

.m-0 {
  margin: 0px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.bg-pink-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 72, 153, var(--tw-bg-opacity));
}

.rounded-2xl {
  border-radius: 1rem;
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

.items-center {
  align-items: center;
}

.h-10 {
  height: 2.5rem;
}

.w-10 {
  width: 2.5rem;
}

.cursor-pointer {
  cursor: pointer;
}
